
<div id="popup-captcha">
    <div class="gt_input">
        <input class="geetest_challenge" type="hidden" name="geetest_challenge" />
        <input class="geetest_validate" type="hidden" name="geetest_validate" />
        <input class="geetest_seccode" type="hidden" name="geetest_seccode" />
    </div>
</div>
<div class="footer_min" id="footer">
    <div class="links link_gray6">
        <a target="_blank" href="http://tp.23673.com/index/index">网站首页</a>|
        <a target="_blank" href="http://tp.23673.com/helpcenter/index?id=2">常见问题</a>|
        <a target="_blank" href="http://tp.23673.com/helpcenter/index?id=1">购物流程</a>|
        <a target="_blank" href="http://tp.23673.com/helpcenter/index?id=9">退款说明</a>|
        <a target="_blank" href="http://www.5law.cn/">法律申明</a>|
        <a target="_blank" href="http://tp.23673.com/helpcenter/index?id=10">退款流程</a>|
        <a target="_blank" href="http://tp.23673.com/helpcenter/index?id=12">商家入驻</a>|
        <a target="_blank" href="http://tp.23673.com/helpcenter/index?id=11">退款政策</a>
    </div>
    <div class="txt">
        <p>
            <span>Copyright © 2015-2025 个人学习使用</span>
            <br/>
            <a href="#" target="_blank">个人学习使用</a>
            <span>0731-8557-3019</span>
        </p>
    </div>
</div>
<div class="disappear_tooltip pie_about" style="left: 634.5px; top: 286.5px;">
    <div class="icon"></div>
    <div class="content"></div>
</div>
