<div class="login js-login">
    <!--用户名密码登录 -->
    <div class="mob j_mob_show" style="background:#fff;">
        <div class="tit">
            <span class="switch_txt active">商城用户登录</span>
            <div id="forAccountLogin" class="switch_account link_blue" data-index="0">
                <a href="javascript:;">切换为账号登录</a>
            </div>
        </div>
        <div class="type_box active">
            <div class="err J_errbox" id="hint" style="display:none;"></div>
            <div class="inputbox J_focus">
                <div class="imgbg"></div>
                <input type="text" class="input_login" name="account" id="account" placeholder="手机号/邮箱"/>
            </div>
            <div class="inputbox J_focus">
                <div class="imgbg pwd"></div>
                <input type="password" class="input_login pwd J_loginword" name="password" id="password"
                       placeholder="请输入密码"/>
            </div>
            <div class="txtbox link_gray6">
                <div class="td2" style="float: right;text-align: left;">
                    <a href="#">忘记密码?</a>
                    <a href="#">立即注册</a>
                </div>
            </div>
            <div class="btnbox">
                <input class="btn_login J_hoverbut" type="button" id="btnLogin"  value="登录">
            </div>
        </div>
    </div>
</div>
