<div class="detail-info">
    <form action="" method="post" name="formBuyNow" id="formBuyNow">
        <!-- 商品名称 -->
        <h1 class="goods-name js-goods-name">单鞋细高跟防水台鱼嘴女凉鞋2017春夏季新款复古刺绣高跟鞋40-42</h1>
        <!-- 商品简单描述、促销语 -->
        <p class="goods-brief color"></p>
        <!-- 商品团购倒计时 -->
        <div class="goods-price">
            <!-- 商品不同的价格 -->
            <div class="show-price">
                <span class="price">原&nbsp;&nbsp;&nbsp;价</span>
                <font class="market-price">￥345.00</font>
            </div>
            <div class="realy-price">
                <div class="now-prices">
                    <span class="price">销售价</span>
                    <strong class="p-price second-color" id="price">￥345.00</strong>
                </div>
            </div>
        </div>
        <!-- 运费 -->
        <div class="freight">
            <div class="dt">配送至</div>
            <div class="dd">
                <div class="post-age">
                    <div class="region-chooser-container region-chooser" style="z-index: 3">
                        <div class="region-chooser-selected">
                            <div class="region js-region">
                                <font>湖南省长沙市
                                    <i></i>
                                </font>
                            </div>
                        </div>
                        <div class="region-chooser-box" id="region-chooser-box" style="display: none;">
                            <div class="region-chooser-close"></div>
                            <div class="region-tabs">
                                <div class="region-tab selected" data-region-level="1" style="display: block">
                                    湖南省
                                    <i></i>
                                </div>
                                <div class="region-tab" data-region-level="2" style="display: block">
                                    长沙市
                                    <i></i>
                                </div>
                                <div class="region-tab" data-region-level="3" style="display: block">
                                    请选择区/县
                                    <i></i>
                                </div>
                            </div>
                            <div class="region-items" data-region-level="1" style="display: block;"></div>
                            <div class="region-items" data-region-level="2" style="display: none;"></div>
                            <div class="region-items" data-region-level="3" style="display: none;"></div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="post-age-info">
                        免邮
                    </div>
                </div>
            </div>
        </div>
        <!-- 评价、销量、积分 -->
        <div class="info-other">
            <ul class="other">
                <li>
                    <p>累积评价
                        <span>
                            <a id="evaluate_num" href="#" class="color">0人评价</a>
                        </span>
                    </p>
                </li>
                <li>
                    <p>累计销量
                        <span class="color">21</span>
                    </p>
                </li>
                <li class="last">
                    <p>赠送积分
                        <span class="color">0</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="choose js-skulist">
            <p class="choose-title">请选择您要的商品信息
                <b onclick="closePrompt(this)">x</b>
            </p>
            <br/>
            <input type="hidden" id="goods_id" name="" value="383" />
            <input type="hidden" id="goods_sku_count" value="1" />
            <input type="hidden" id="attribute_list" value="0" />
            <input type="hidden" id="goods_sku0" value=";" stock="990" price="345" promotion_price="345.00" member_price="345" skuid="1482"
                skuname="" original_price="345.00" />
            <!-- 购买数量 -->
            <dl class="amount">
                <dt class="dt">数量</dt>
                <dd class="dd">
                    <span class="amount-widget">
                        <input type="text" class="amount-input" value="1" data-max="979" title="请输入购买量" id="num" />
                        <span class="amount-btn">
                            <span class="amount-plus">
                                <i>+</i>
                            </span>
                            <span class="amount-minus">
                                <i>-</i>
                            </span>
                        </span>
                        <span class="amount-unit">件</span>
                    </span>
                    <em class="stock js-goods-number">库存979件</em>
                </dd>
            </dl>
            <!-- 限购提示语 -->
            <!-- 加入购物车按钮、手机购买 -->
            <div class="action">
                <div class="btn-buy">
                    <a href="javascript:;" class="buy-goods color js-buy-now" data-tag="buy_now">
                        <span class="buy-goods-bg bg-color"></span>
                        <span class="buy-goods-border"></span>
                        立即购买
                    </a>
                </div>
                <div class="btn-buy">
                    <a href="javascript:void(0);" class="add-cart bg-color" data-tag="to_cart">
                        <i></i> 加入购物车</a>
                </div>
                <div class="btn-phone">
                    <a href="javascript:;" class="go-phone">
                        <!-- 								<span>手机购买</span> -->
                        <i></i>
                        <div id="phone-tan" style="left:53px;">
                            <span class="arr"></span>
                            <div class="m-qrcode-wrap">
                                <img src="__PUBLIC_INDEX__/picture/goods_qrcode_383.png" alt="二维码图片" width="100" height="100">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <input type="hidden" id="hidden_cart_id" name="cart_id" />
    </form>
</div>
