<div id="preview" class="preview">
    <div class="goodsgallery">
        <!-- 商品相册容器 -->
        <link rel="stylesheet" href="__PUBLIC_INDEX__/css/gallery.css">
        <script type="text/javascript" src="__PUBLIC_INDEX__/js/gallery.js"></script>
        <div id="MagnifierWrap">
            <div class="MagnifierMain">
                <img class="MagTargetImg" src="__PUBLIC_INDEX__/picture/1500601152701.jpg" />
            </div>
            <span class="spe_leftBtn on">&lt;</span>
            <span class="spe_rightBtn on">&gt;</span>
            <div class="spec-items">
                <ul>
                    <li class="on">
                        <img src="__PUBLIC_INDEX__/picture/1500601152701.jpg" />
                    </li>
                    <li>
                        <img src="__PUBLIC_INDEX__/picture/1500601154711.jpg" />
                    </li>
                    <li>
                        <img src="__PUBLIC_INDEX__/picture/1500601156721.jpg" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="goods-gallery-bottom">
        <a href="javascript:;" class="goods-col fr collect-goods">
            <i></i>
            <span data-collects="0">收藏商品 (0人气)</span>
        </a>
    </div>
</div>
