<div id="preview" class="preview">
    <div class="goodsgallery">
        <!-- 商品相册容器 -->
        <link rel="stylesheet" href="__PUBLIC_INDEX__/css/gallery.css">
        <script type="text/javascript" src="__PUBLIC_INDEX__/js/gallery.js"></script>
        <div id="MagnifierWrap">
            <div class="MagnifierMain">
                <img class="MagTargetImg" src="{$goods_info['picture']}" />
            </div>
            <span class="spe_leftBtn on">&lt;</span>
            <span class="spe_rightBtn on">&gt;</span>
            <div class="spec-items">
                <ul>
                    {volist name = "$goods_info['img_id_array']" id='vo' key ='k'}
                    <li {eq name="$k" value="0" }class ="on"{/eq}>
                        <img src="{$vo.pic_cover_big}" />
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
    <div class="goods-gallery-bottom">
        <a href="javascript:;" class="goods-col fr collect-goods">
            <i></i>
            <span data-collects="0">收藏商品 (0人气)</span>
        </a>
    </div>
</div>
