<div id="main-nav-holder" class="goods-detail">
    <ul id="nav" class="tab">
        <li class="title-list current" data-index="1">
            <a href="javascript:;">商品属性</a>
        </li>
        <li class="title-list" data-index="2">
            <a href="javascript:;">商品详情</a>
        </li>
        <li class="title-list" data-index="3">
            <a id="evaluate_count" href="javascript:;">累计评价(0)</a>
        </li>
        <li class="title-list" data-index="4">
            <a href="javascript:;">购买咨询</a>
        </li>
    </ul>
    <div class="right-side">
        <a href="javascript:void(0);" class="right-addcart js-buy-now" data-tag="buy_now">
            <i></i>
            <span>立即购买</span>
        </a>
        <div class="right-side-con">
            <!-- style="height: 442px;" -->
            <ul class="right-side-ul">
                <li class="abs-active" data-index="1">
                    <i></i>
                    <span>商品属性</span>
                </li>
                <li data-index="2">
                    <i></i>
                    <span>商品详情</span>
                </li>
                <li data-index="3">
                    <i></i>
                    <span>商品评价</span>
                </li>
                <li data-index="4">
                    <i></i>
                    <span>购买咨询</span>
                </li>
            </ul>
        </div>
    </div>
</div>
