<div class="fl">
    <!-- 客服组 提出来的  客服，先隐藏掉
    <!提出来的  店内分类 -->
    <link type="text/css" rel="stylesheet" href="__PUBLIC_INDEX__/css/goods.css">
    <div class="store-category">
        <h3 class="left-title">店内分类</h3>
        <div class="left-content tree">
            <ul>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="__PUBLIC_INDEX__/js/tabs_1.js"></script>
    <script type="text/javascript" src="__PUBLIC_INDEX__/js/goods.js"></script>
    <!-- 排行榜 提出来的 【排行榜】-->

    <!-- 排行榜 提出来的 【排行榜】-->
    <div class="store-rank-list">
        <h3 class="left-title">店内排行榜</h3>
        <div class="left-content rank-list">
            <ul class="tab-nav j-tab-nav">
                <li class="current">销售量</li>
                <li>收藏数</li>
            </ul>
            <div class="tab-con">
                <div class="j-tab-con">
                    <ul class="goods-list" style="display: block">
                        <li class="goods-item first">
                            <div class="picture">
                                <a href="http://tp.23673.com/goods/goodsinfo?goodsid=383" title="单鞋细高跟防水台鱼嘴女凉鞋2017春夏季新款复古刺绣高跟鞋40-42">
                                    <img src="__PUBLIC_INDEX__/picture/1500601152702_4.jpg" />
                                </a>
                            </div>
                            <div class="price">
                                <a href="http://tp.23673.com/goods/goodsinfo?goodsid=383" title="单鞋细高跟防水台鱼嘴女凉鞋2017春夏季新款复古刺绣高跟鞋40-42">单鞋细高跟防水台鱼嘴女凉鞋2017春夏季新款复古刺绣高跟鞋40-42</a>
                                <span class="money-color">￥345.00</span>
                            </div>
                        </li>
                        <li class="goods-item first">
                            <div class="picture">
                                <a href="http://tp.23673.com/goods/goodsinfo?goodsid=385" title="春季包头中粗跟尖头浅口单鞋女夏2017新款百搭韩版侧空低跟单鞋子">
                                    <img src="__PUBLIC_INDEX__/picture/1500601381802.jpg" />
                                </a>
                            </div>
                            <div class="price">
                                <a href="http://tp.23673.com/goods/goodsinfo?goodsid=385" title="春季包头中粗跟尖头浅口单鞋女夏2017新款百搭韩版侧空低跟单鞋子">春季包头中粗跟尖头浅口单鞋女夏2017新款百搭韩版侧空低跟单鞋子</a>
                                <span class="money-color">￥269.00</span>
                            </div>
                        </li>
                        <li class="goods-item first">
                            <div class="picture">
                                <a href="http://tp.23673.com/goods/goodsinfo?goodsid=384" title="【葡萄妈】studiolee 小方跟方扣单鞋4.5cm 附赠贴底">
                                    <img src="__PUBLIC_INDEX__/picture/1500601296742_1.jpg" />
                                </a>
                            </div>
                            <div class="price">
                                <a href="http://tp.23673.com/goods/goodsinfo?goodsid=384" title="【葡萄妈】studiolee 小方跟方扣单鞋4.5cm 附赠贴底">【葡萄妈】studiolee 小方跟方扣单鞋4.5cm 附赠贴底</a>
                                <span class="money-color">￥269.00</span>
                            </div>
                        </li>
                    </ul>
                    <ul class="goods-list">
                        <li class="goods-item first">
                            <div class="picture">
                                <a href="http://tp.23673.com/goods/goodsinfo?goodsid=383" title="单鞋细高跟防水台鱼嘴女凉鞋2017春夏季新款复古刺绣高跟鞋40-42">
                                    <img src="__PUBLIC_INDEX__/picture/1500601152702_4.jpg" />
                                </a>
                            </div>
                            <div class="price">
                                <a href="http://tp.23673.com/goods/goodsinfo?goodsid=383" title="单鞋细高跟防水台鱼嘴女凉鞋2017春夏季新款复古刺绣高跟鞋40-42">单鞋细高跟防水台鱼嘴女凉鞋2017春夏季新款复古刺绣高跟鞋40-42</a>
                                <span class="money-color">￥345.00</span>
                            </div>
                        </li>
                        <li class="goods-item first">
                            <div class="picture">
                                <a href="http://tp.23673.com/goods/goodsinfo?goodsid=384" title="【葡萄妈】studiolee 小方跟方扣单鞋4.5cm 附赠贴底">
                                    <img src="__PUBLIC_INDEX__/picture/1500601296742_1.jpg" />
                                </a>
                            </div>
                            <div class="price">
                                <a href="http://tp.23673.com/goods/goodsinfo?goodsid=384" title="【葡萄妈】studiolee 小方跟方扣单鞋4.5cm 附赠贴底">【葡萄妈】studiolee 小方跟方扣单鞋4.5cm 附赠贴底</a>
                                <span class="money-color">￥269.00</span>
                            </div>
                        </li>
                        <li class="goods-item first">
                            <div class="picture">
                                <a href="http://tp.23673.com/goods/goodsinfo?goodsid=385" title="春季包头中粗跟尖头浅口单鞋女夏2017新款百搭韩版侧空低跟单鞋子">
                                    <img src="__PUBLIC_INDEX__/picture/1500601381802.jpg" />
                                </a>
                            </div>
                            <div class="price">
                                <a href="http://tp.23673.com/goods/goodsinfo?goodsid=385" title="春季包头中粗跟尖头浅口单鞋女夏2017新款百搭韩版侧空低跟单鞋子">春季包头中粗跟尖头浅口单鞋女夏2017新款百搭韩版侧空低跟单鞋子</a>
                                <span class="money-color">￥269.00</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 店内分类有浮动，要把他清除掉  -->
    <style>
        .store-category {
            float: none;
        }
    </style>
</div>
