<div id="main_widget">
    <!-- 规格参数 _star -->
    <div id="goods_attr_list" class="goods-detail-con goods-detail-tabs">
        <ul class="goods-spec">
            <li>鞋跟高度：
                <span id="goods_attr_" title="8-10cm" class="goods-attr-value">8-10cm</span>
            </li>
            <li>材质：
                <span id="goods_attr_" title="布鞋" class="goods-attr-value">布鞋</span>
            </li>
            <li>鞋头款式：
                <span id="goods_attr_" title="平头,尖头" class="goods-attr-value">平头,尖头</span>
            </li>
        </ul>
    </div>
    <!-- 商品详情 _star -->
    <div id="goods_introduce" class="goods-detail-con goods-detail-tabs">
        <!-- 推荐商品 -->
        <!-- 商品后台上传的商品描述 -->
        <div class="detail-content goods-detail-content">
            {:htmlspecialchars_decode($goods_info['description'])}
        </div>
    </div>
    <!-- 商品详情 end -->
    <!-- 商品评价 start -->
    <!-- 总评分 -->
    <div class="comment-grade">
        <div class="rate-score">
            <h4>宝贝与描述相符</h4>
            <strong>5</strong>
            <p>
                <span class="score-value-no">
                    <em style="width:100%;"></em>
                </span>
            </p>
        </div>
        <div class="rate-graph">
            <div class="graph-scroller">
                <span style="width: 100%;">
                    <em>5
                        <i>▼</i>
                    </em>
                </span>
            </div>
            <ul class="graph-desc">
                <li>非常不满</li>
                <li>不满意</li>
                <li>一般</li>
                <li>满意</li>
                <li>非常满意</li>
            </ul>
        </div>
    </div>
    <!-- 评论选择项 -->
    <div class="comment-type">
        <ul class="tab-nav">
            <li class="current" data-type="0">
                <i class="icon cur"></i> 全部
                <em>(0)</em>
            </li>
            <li data-type="4">
                <i class="icon"></i> 图片
                <em>（0）</em>
            </li>
            <li data-type="1">
                <i class="icon"></i> 好评
                <em>（0）</em>
            </li>
            <li data-type="2">
                <i class="icon"></i> 中评
                <em>（0）</em>
            </li>
            <li data-type="3">
                <i class="icon"></i> 差评
                <em>（0）</em>
            </li>
        </ul>
    </div>
    <!-- 有评论的的展示形式 _star -->
    <div id="comment_content">
        <div class="comment-con tablelist"></div>
    </div>
    <div id="pagination" class="page" style="display:none;">
        <div class="pagination-goto" style="display:none;">,到
            <input class="ipt form-control goto-input" type="text" id="pageindex">页
            <button class="btn btn-default goto-button" title="点击跳转到指定页面" onclick="GetDataList(0)">确定</button>
            <a class="goto-link" data-go-page=""></a>
        </div>
        <div class="page-wrap fr">
            <div class="total">共
                <span id="pagecount"></span>页
                <span id="totalcount" style="display: none;"></span>条记录
                <input type="hidden" id="pagesize" name="pagesize" value="100" />
            </div>
        </div>
        <div class="page-num fr">
            <span id="home_page">
                <a class="num prev disabled" data-go-page="1" title="第一页">首页</a>
            </span>
            <span id="pre_page">
                <a class="num prev disabled " title="上一页">上一页</a>
            </span>
            <div id="page_list" style="float: left;"></div>
            <span id="next_page">
                <a class="num next disabled" title="下一页">下一页</a>
            </span>
            <span id="last_page">
                <a class="num next disabled" title="下一页">尾页</a>
            </span>
        </div>
        <script type="text/javascript">
            $(function () {
                GetDataList(1);
            })

            function page_display(pagecount, pageindex) {
                if (pagecount == "" || pagecount == 0) {
                    $("#pagination").hide();
                } else {
                    $("#pagination").show();
                    var pagehtml = '',
                        pag_end_html = '',
                        page_start_html = '';
                    var page_display_num = 5; //总共显示的页的个数必须为奇数

                    //结束页数计算
                    var pageend = pagecount;

                    //开始页面计算
                    var pagestart = pageindex - (page_display_num - 1) / 2;
                    pagestart = (pageindex == pageend) ? pageend - page_display_num + 1 :
                        pagestart;
                    pagestart = (pageend - pageindex) < 3 ? pageend - page_display_num + 1 :
                        pagestart;
                    pagestart = pagestart < 1 ? 1 : pagestart;
                    for (var i = pagestart; i <= pageend; i++) {
                        if (pageindex == i) {
                            pagehtml += '<span class="num curr" onclick="GetDataList(' + i +
                                ')"><a data-cur-page="' + i + '" >' + i + '</a></span>	';
                            var pre_page = (i == 1) ? 1 : i - 1;
                            var next_page = (i == pagecount) ? pagecount : i + 1;
                            if (i == 1) {
                                $('#home_page>a').addClass('disabled');
                                $('#pre_page>a').addClass('disabled');
                                $('#home_page').attr('onclick', '');
                                $('#pre_page').attr('onclick', '');
                            } else {
                                $('#home_page').attr('onclick', 'GetDataList(1)');
                                $('#pre_page').attr('onclick', 'GetDataList("' + pre_page +
                                    '")');
                                $('#home_page>a').removeClass('disabled');
                                $('#pre_page>a').removeClass('disabled');
                            }
                            if (i < pagecount) {
                                $('#next_page').attr('onclick', 'GetDataList("' + next_page +
                                    '")');
                                $('#last_page').attr('onclick', 'GetDataList("' + pagecount +
                                    '")');
                                $('#last_page>a').removeClass('disabled');
                                $('#next_page>a').removeClass('disabled');
                            } else {
                                $('#next_page').attr('onclick', '');
                                $('#last_page').attr('onclick', '');
                                $('#last_page>a').addClass('disabled');
                                $('#next_page>a').addClass('disabled');
                            }
                            /*省略点显示*/
                            if ((pageend - page_display_num) > 0 && i > (page_display_num /
                                    2 + 1)) {
                                page_start_html = '<span class="shenglue">...</span>';
                            }
                            if (pageend > page_display_num) {
                                pageend = page_display_num;
                                if ((pageindex + ((page_display_num - 1) / 2)) <= pagecount &&
                                    i > (page_display_num / 2 + 1)) {
                                    pageend = pageindex + ((page_display_num - 1) / 2);
                                }
                                if (i < pagecount) {
                                    pag_end_html = '<span class="shenglue">...</span>';
                                }
                                if ((pagecount - pageindex) <= ((page_display_num - 1) / 2)) {
                                    pageend = pagecount;
                                    pag_end_html = '';
                                }
                            }
                        } else {
                            pagehtml += '<span class="num"  onclick="GetDataList(' + i +
                                ')"><a data-cur-page="' + i + '" >' + i + '</a></span>	';
                        }
                    }
                    if (pagehtml == '') {
                        $('#page_list').html(
                            '<span class="num curr"><a data-cur-page="1">1</a></span>');
                    } else {
                        $('#page_list').html(pagehtml);
                    }
                }
            }
        </script>
    </div>
</div>
</div>
</div>

<script type="text/javascript">
    $(".comment-type li").click(function () {
        var type = $(this).data("type");
        var target = $(this);
        $(".comment-type").find("li").removeClass("current");
        $(".comment-type").find("i").removeClass("cur");
        $(target).addClass("current");
        $(target).children().addClass("cur");
        GetDataList(1)
    })

    function loadFunction() {
        $('.goods-comment-imgs>img').click(function () {
            var even = $(this);
            var viewer = even.parent().next('.photo-viewer');
            if (!even.is('.cur')) {
                even.parent().children('img').removeClass('cur');
                even.addClass('cur');
                even.parent().next('.photo-viewer').html('<img src="' + $(this).attr('src') +
                    '"/>').show('fast');
            } else {
                even.removeClass('cur');
                even.parent().next('.photo-viewer').hide("slow").html('');
            }
        })
    }

    /**
     * 分页显示
     * @param {Object} pageindex
     */
    function GetDataList(pageindex) {
        var page_size = $('#pagesize').val();
        var shop_name = $('#shop_name').val();
        var pageindex = pageindex == 0 ? $('#pageindex').val() : pageindex;
        var commentsType = $(".comment-type li.current").attr('data-type');
        var goods_id = $('#hidden_goodsid').val(); //标签在info页面
        $.ajax({
            type: "post",
            url: "http://tp.23673.com/goods/getgoodscomments",
            data: {
                'page_index': pageindex,
                'page_size': page_size,
                'goods_id': goods_id,
                'comments_type': commentsType
            },
            dataType: 'json',
            beforeSend: function () {
                $.loading.start();
            },
            success: function (data) {
                var listhtml = '';
                if (data['data'].length == 0) {
                    $('#comment_content .tablelist').html(
                        '<div class="tip-box"><i class="tip-icon"></i><div class="tip-text">还没有任何评价哦</div></div>'
                    );
                    $('#pagination').hide();
                    return false;
                }
                for (var i = 0; i < data['data'].length; i++) {
                    var dataitem = data['data'][i];
                    var member_name = dataitem['member_name'];
                    member_name = dataitem['is_anonymous'] == 1 ? member_name.replace(
                            member_name.substring(1, member_name.length), '***') +
                        '(匿名)' : member_name;
                    listhtml += '<div class="goods-comment">' +
                        '<div class="user-info">' +
                        '<div class="face">' +
                        '<img src="__PUBLIC_INDEX__/picture/default_user_portrait_0.png">' +
                        '</div>' +
                        '<div class="name-box">' +
                        '<em>' + member_name + '</em>' +
                        '</div>' +
                        '</div>' +
                        '<dl>' +
                        '<dd class="goods-comment-con">' +
                        '<span class="text">' + dataitem['content'] + '</span>' +
                        '</dd>';
                    if (dataitem['image'] != '') {
                        var imgs_arr = dataitem['image'].split(',');
                        listhtml += '<dd class="goods-comment-imgs">'
                        for (var key in imgs_arr) {
                            listhtml +=
                                '<img src="__PUBLIC_INDEX__/picture/e71279cab8c143c2b52e0d6b287c96fb.gif' +
                                imgs_arr[key] + '" alt="" />';
                        }
                        listhtml += '</dd>';
                        listhtml += '<dd class="photo-viewer"></dd>'
                    }
                    listhtml += '<dd><div class="date"><span>' + dataitem['addtime'] +
                        '</span> <span></span></div></dd></dl>';
                    if (dataitem['explain_first'] != '') {
                        listhtml += '<div class="comment_zhuijia">店家回复：</div>' +
                            '<dl>' +
                            '<dd class="goods-comment-con">' +
                            '<span class="text">' + dataitem['explain_first'] +
                            '</span>' +
                            '</dd></dl>';
                    }
                    if (dataitem['again_content'] != '') {
                        listhtml += '<div class="comment_zhuijia">追加评价：</div>' +
                            '<dl>' +
                            '<dd class="goods-comment-con">' +
                            '<span class="text">' + dataitem['again_content'] +
                            '</span>' +
                            '</dd>';
                        if (dataitem['again_image'] != '') {
                            var imgs_arr = dataitem['again_image'].split(',');
                            listhtml += '<dd class="goods-comment-imgs">'
                            for (var key in imgs_arr) {
                                listhtml +=
                                    '<img src="__PUBLIC_INDEX__/picture/e71279cab8c143c2b52e0d6b287c96fb.gif' +
                                    imgs_arr[key] + '" alt="" />';
                            }
                            listhtml += '</dd>';
                        }
                        listhtml += '<dd class="photo-viewer"></dd>'
                        listhtml += '<dd><div class="date"><span>' + dataitem[
                                'again_addtime'] +
                            '</span> <span></span></div></dd></dl>';
                        if (dataitem['again_explain'] != '') {
                            listhtml += '<div class="comment_zhuijia">店家回复：</div>' +
                                '<dl>' +
                                '<dd class="goods-comment-con">' +
                                '<span class="text">' + dataitem['again_explain'] +
                                '</span>' +
                                '</dd></dl>';
                        }
                    }
                    listhtml += '</div>';
                }
                $('#comment_content .tablelist').html(listhtml);
                $('#totalcount').text(data['total_count']); //总条数
                $('#pagecount').text(data['page_count']); //总页数
                $('#pageindex').val(pageindex); //当前页数
                page_display(data['page_count'], pageindex);
                $('#pagination').show();
                loadFunction();
            }
        });
    }
</script>
<!-- 商品评价 end -->
<!-- 服务 start -->
<!-- 常见问题 _star -->
<div class="goods-detail-con goods-detail-tabs">
    <link rel="stylesheet" href="__PUBLIC_INDEX__/css/purchase_consulting.css">
    <div class="ncs-goods_main goods-detail-con">
        <div class="ncs-goods-info-content bd" id="ncGoodsConsult">
            <h3 class="color">购买咨询</h3>
            <div id="consulting_demo" class="ncs-loading">
                <div class="top" style="overflow: hidden;">
                    <div class="ncs-cosult-tips">
                        <i></i>
                        <p></p>
                        <p>因厂家更改商品包装、场地、附配件等不做提前通知，且每位咨询者购买、提问时间等不同。为此，客服给到的回复仅对提问者3天内有效，其他网友仅供参考！给您带来的不便还请谅解，谢谢！</p>
                        <p></p>
                    </div>
                    <div class="ncs-cosult-askbtn">
                        <a href="http://tp.23673.com/goods/goodsconsult?goodsid=383#askQuestion" target="_blank" class="btn btn-white"> 我要咨询</a>
                    </div>
                </div>
                <div class="ncs-goods-title-nav">
                    <ul id="consulting_tab">
                        <input type="hidden" id="currClassId" value="0">
                        <li id="classTab0" class="current">
                            <a href="javascript:;" onclick="consultType(0,this)">全部</a>
                        </li>
                        <li id="classTab1">
                            <a href="javascript:;" onclick="consultType(1,this)">商品咨询</a>
                        </li>
                        <li id="classTab2">
                            <a href="javascript:;" onclick="consultType(2,this)">支付问题</a>
                        </li>
                        <li id="classTab3">
                            <a href="javascript:;" onclick="consultType(3,this)">发票及保修</a>
                        </li>
                    </ul>
                </div>
                <div id="ncs_main_0" name="nsc_main">
                    <div class="ncs-cosult-main">
                        <div class="ncs-norecord">还没有咨询内容</div>
                    </div>
                </div>
                <div style="display: none;" id="ncs_main_1" name="nsc_main">
                    <div class="ncs-cosult-main">
                        <div class="ncs-norecord">还没有咨询内容</div>
                    </div>
                </div>
                <div style="display: none;" id="ncs_main_2" name="nsc_main">
                    <div class="ncs-cosult-main">
                        <div class="ncs-norecord">还没有咨询内容</div>
                    </div>
                </div>
                <div style="display: none;" id="ncs_main_3" name="nsc_main">
                    <div class="ncs-cosult-main">
                        <div class="ncs-norecord">还没有咨询内容</div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function consultType(type, eve) {
                $('.current').removeClass('current');
                $(eve).parent().addClass('current');
                $('[name="nsc_main"]').hide();
                $('#ncs_main_' + Number(type)).show();
            }
        </script>
    </div>
</div>
</div>
