<!DOCTYPE html>
<html>
  {include file="login/login/login_head"/}
<body>

<div class="user_head_bg">
	<div class="user_head">
		<div class="logobox" style="padding-top:20px;"><a href="#"><img src="__PUBLIC_INDEX__/picture/logo2.png" border="0" style="width:200px;"></a></div>
		<!--<div style="float:right"><a href="#"><img style="width: 100%;height: 100px" src="__PUBLIC_INDEX__/picture/style_blue_head_adv.png" border="0"></a></div>-->

		<div class="clear"></div>
	</div>
</div>
<div class="ban_box">
	<div class="banner" >
		<ul class="full-screen-slides" id="fullScreenSlides"></ul>
	</div>
	<div class="maind">
		{include file="login/login/login_main"/}
	</div>
</div>
{include file="login/login/login_footer"/}

