<!--
创建时间： 2018年6月10日17:46:10
功能描述：店铺街
-->
<div class="w1210 store-wall2">
    <h2>
        <a class="store-wall-title" href="http://tp.23673.com/shop/shopstreet" title="店铺街" style="color: #000000">店铺街</a>
    </h2>
    <div class="store-con2">
        <div class="store-wall2-ad">
        </div>
        <script type="text/javascript">
            //店铺街小广告
            var ap_id = 1055;
            var data = platformAdvLoad(ap_id);
            $('.store-wall2-ad').html('<a href="' + data[0]['adv_url'] + '" target="_blank"><img class="lazy" src="__PUBLIC_INDEX__/picture/a06d216579cf4e8fb5d53c9530afb59f.gif' + data[0]['adv_image'] + '"></a>');
        </script>
        <ul class="store-wall2-list">
            <li>
                <img alt="官方直营店" src="__PUBLIC_INDEX__/picture/temp_14653489106946_2.jpg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/shopindex?shop_id=0" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="海尔加盟店" src="__PUBLIC_INDEX__/picture/1500622271.jpg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/shopindex?shop_id=1" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="乔丹旗舰店" src="__PUBLIC_INDEX__/picture/1500623512.jpg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/shopindex?shop_id=41" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="苏泊尔家电" src="__PUBLIC_INDEX__/picture/1500623721.jpg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/shopindex?shop_id=42" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
            <li>
                <img alt="虚位以待" src="__PUBLIC_INDEX__/picture/default_shop_phantom.svg" />
                <div class="black-cover" style="display: none;"></div>
                <div class="cover-content" style="display: none;">
                    <a href="http://tp.23673.com/shop/applyindex" class="enter" target="_blank">点击进入</a>
                </div>
            </li>
        </ul>
    </div>
</div>