<!--

推荐广告位开始
2018年6月10日00:07:26
--->
<div class="w1210 index-sale">
    <ul class="tabs-nav">
        <li class="tabs-selected">
            <i class="arrow"></i>
            <h3>清凉一夏</h3></li>
    </ul>
    <div class="tabs-panel sale-goods-list">
        <ul>
            <li>
                <dl>
                    <dt class="goods-name">
                        <a title="印花显瘦A字碎花真丝连衣裙女夏季2017新款欧洲站气质裙子女装潮" href="http://tp.23673.com/goods/goodsinfo?goodsid=380" target="_blank">印花显瘦A字碎花真丝连衣裙女夏季2017新款欧洲站气质裙子女装潮</a>
                    </dt>
                    <dd class="goods-thumb">
                        <a title="印花显瘦A字碎花真丝连衣裙女夏季2017新款欧洲站气质裙子女装潮" href="http://tp.23673.com/goods/goodsinfo?goodsid=380" target="_blank">
                            <img src="__PUBLIC_INDEX__/picture/1500547407502.jpg" />
                        </a>
                    </dd>
                    <dd class="goods-price">
                        <em class="second-color" style="font-size:18px;">￥359.00</em>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="goods-name">
                        <a title="M Queen独立制衣 优雅V领褶皱飘带系带修身长裙A字吊带连衣裙8915" href="http://tp.23673.com/goods/goodsinfo?goodsid=382" target="_blank">M Queen独立制衣 优雅V领褶皱飘带系带修身长裙A字吊带连衣裙8915</a>
                    </dt>
                    <dd class="goods-thumb">
                        <a title="M Queen独立制衣 优雅V领褶皱飘带系带修身长裙A字吊带连衣裙8915" href="http://tp.23673.com/goods/goodsinfo?goodsid=382" target="_blank">
                            <img src="__PUBLIC_INDEX__/picture/1500600767632.jpg" />
                        </a>
                    </dd>
                    <dd class="goods-price">
                        <em class="second-color" style="font-size:18px;">￥369.00</em>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="goods-name">
                        <a title="2016夏装新款夜店豹纹性感露背低胸女装超短裙抹胸紧身包臀连衣裙" href="http://tp.23673.com/goods/goodsinfo?goodsid=381" target="_blank">2016夏装新款夜店豹纹性感露背低胸女装超短裙抹胸紧身包臀连衣裙</a>
                    </dt>
                    <dd class="goods-thumb">
                        <a title="2016夏装新款夜店豹纹性感露背低胸女装超短裙抹胸紧身包臀连衣裙" href="http://tp.23673.com/goods/goodsinfo?goodsid=381" target="_blank">
                            <img src="__PUBLIC_INDEX__/picture/1500600673622.jpg" />
                        </a>
                    </dd>
                    <dd class="goods-price">
                        <em class="second-color" style="font-size:18px;">￥426.00</em>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="goods-name">
                        <a title="单鞋细高跟防水台鱼嘴女凉鞋2017春夏季新款复古刺绣高跟鞋40-42" href="http://tp.23673.com/goods/goodsinfo?goodsid=383" target="_blank">单鞋细高跟防水台鱼嘴女凉鞋2017春夏季新款复古刺绣高跟鞋40-42</a>
                    </dt>
                    <dd class="goods-thumb">
                        <a title="单鞋细高跟防水台鱼嘴女凉鞋2017春夏季新款复古刺绣高跟鞋40-42" href="http://tp.23673.com/goods/goodsinfo?goodsid=383" target="_blank">
                            <img src="__PUBLIC_INDEX__/picture/1500601152702.jpg" />
                        </a>
                    </dd>
                    <dd class="goods-price">
                        <em class="second-color" style="font-size:18px;">￥345.00</em>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="goods-name">
                        <a title="【葡萄妈】studiolee 小方跟方扣单鞋4.5cm 附赠贴底" href="http://tp.23673.com/goods/goodsinfo?goodsid=384" target="_blank">【葡萄妈】studiolee 小方跟方扣单鞋4.5cm 附赠贴底</a>
                    </dt>
                    <dd class="goods-thumb">
                        <a title="【葡萄妈】studiolee 小方跟方扣单鞋4.5cm 附赠贴底" href="http://tp.23673.com/goods/goodsinfo?goodsid=384" target="_blank">
                            <img src="__PUBLIC_INDEX__/picture/1500601296742.jpg" />
                        </a>
                    </dd>
                    <dd class="goods-price">
                        <em class="second-color" style="font-size:18px;">￥269.00</em>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="w1210 ad-groups ad-groups5">
    <div class="ad-groups5-layout">
        <div class="ad-groups5-list"></div>
        <script type="text/javascript">
            var ap_id = 1054;
            var data = platformAdvLoad(ap_id);
            var listhtml = '';
            if(data != '') {
                if(data[0]['adv_image'] == "") {
                    $(".ad-groups5").hide();
                } else {

                    for(var i = 0; i < data.length; i++) {
                        if(i == 5) {
                            break;
                        }
                        listhtml += '<div class="item">';
                        if(data[i]['adv_url'] == "") {
                            listhtml += '<a class="ad-img" href="' + data[i]['adv_url'] + '" >';
                        } else {
                            listhtml += '<a class="ad-img" target="_blank" href="' + data[i]['adv_url'] + '" >';
                        }
                        listhtml += '<img class="lazy" src="__PUBLIC_INDEX__/picture/a06d216579cf4e8fb5d53c9530afb59f.gif' + data[i]['adv_image'] + '" style="display: inline;height:140px;width:240px;max-width:100%;">';
                        listhtml += '</a></div>';
                    }
                    $('.ad-groups5-list').html(listhtml);
                }
            }
        </script>
    </div>
</div>