
<!--推荐商品楼层分类 end -->
<!-- 添加js文件 -->
<script type="text/javascript" src="__PUBLIC_INDEX__/js/jquery.cookie.js"></script>
<script type="text/javascript" src="__PUBLIC_INDEX__/js/layer.js"></script>
<script type="text/javascript" src="__PUBLIC_INDEX__/js/jquery.countdown.js"></script>
<script type="text/javascript" src="__PUBLIC_INDEX__/js/bubbleup.js"></script>
<script type="text/javascript" src="__PUBLIC_INDEX__/js/ns_index.js"></script>
<script type="text/javascript" src="__PUBLIC_INDEX__/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="__PUBLIC_INDEX__/js/tabs.js"></script>
<script type="text/javascript" src="__PUBLIC_INDEX__/js/jquery.hislider.js"></script>
<script type="text/javascript" src="__PUBLIC_INDEX__/js/index_tab.js"></script>
<script type="text/javascript" src="__PUBLIC_INDEX__/js/tabs.js"></script>
<script type="text/javascript" src="__PUBLIC_INDEX__/js/jquery.fly.min.js"></script>
<script type="text/javascript">
    $().ready(function() {
        $.cartbox.count = "0";
        // 缓载图片
        $("img").lazyload({
            skip_invisible: false,
            effect: 'fadeIn',
            failure_limit: 20,
            threshold: 200
        });
    });
</script>

<!--<script>-->
    <!--(function() {-->
        <!--var bp = document.createElement('script');-->
        <!--var curProtocol = window.location.protocol.split(':')[0];-->
        <!--if(curProtocol === 'https') {-->
            <!--bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';-->
        <!--} else {-->
            <!--bp.src = 'http://push.zhanzhang.baidu.com/push.js';-->
        <!--}-->
        <!--var s = document.getElementsByTagName("script")[0];-->
        <!--s.parentNode.insertBefore(bp, s);-->
    <!--})();-->
<!--</script>-->