<!---

推荐广告位结束
2018年6月10日00:08:03
-->

<div class="w1210 floor-list">
    <div class="floor" color="#00ffff">
        <div class="floor-layout">
            <div class="floor-con floor-con5">
                <div class="floor-title">
                    <!--推荐名称-->
                    <span class="vertical-bar" style="background: #00ffff;"></span>
                    <h2>
                        <a href="javascript:;" target="_blank">食品生鲜</a>
                        <input type="hidden" value="生鲜" class="NS-SHORT-NAME" />
                    </h2>
                    <!--推荐类型-->
                    <ul class="floor-tabs-nav">
                        <li class="floor-tabs-selected">
                            <h3 style="color: #00ffff;">新品推荐</h3></li>
                        <li>
                            <h3>进口食品</h3></li>
                        <li>
                            <h3>进口水果</h3></li>
                        <li>
                            <h3>爱吃日</h3></li>
                    </ul>
                </div>
                <hr style="border:0;border-bottom:1px solid #F5F5F5;" />
                <div class="floor-content floor-content5">
                    <div class="floor-left">
                        <div class="floor-ad">
                            <a href="#" target="_blank" class="floor-ad-img">
                                <img class="lazy" src="__PUBLIC_INDEX__/picture/1497069606.png" width="210">
                            </a>
                        </div>
                        <ul class="floor-words">
                            <!-- 						分类推荐 -->
                            <li>
                                <a href="http://tp.23673.com/goods/goodslist?category_id=311" target="_blank" title="女装/男装/内衣">女装/男装/内衣</a>
                            </li>
                            <li>
                                <a href="http://tp.23673.com/goods/goodslist?category_id=312" target="_blank" title="鞋靴/箱包/配件">鞋靴/箱包/配件</a>
                            </li>
                        </ul>
                    </div>
                    <div class="floor-middle">
                        <div class="floor-banner">
                            <div class="hiSlider-wrap">
                                <ul class="hiSlider NS-FLOOR-HISLIDER">
                                    <!-- 幻灯片循环 -->

                                    <li class="hiSlider-item">
                                        <a href="#" target="_blank">
                                            <img class="lazy" src="__PUBLIC_INDEX__/picture/1497069144.png" width="390">
                                        </a>
                                    </li>

                                    <li class="hiSlider-item">
                                        <a href="#" target="_blank">
                                            <img class="lazy" src="__PUBLIC_INDEX__/picture/1497069159.png" width="390">
                                        </a>
                                    </li>

                                    <li class="hiSlider-item">
                                        <a href="#" target="_blank">
                                            <img class="lazy" src="__PUBLIC_INDEX__/picture/1497069175.png" width="390">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="floor-right">
                        <!-- 第一屏广告 _start -->
                        <div class="floor-tabs-panel">
                            <div class="floor-tabs-ad-up">
                                <a href="#" target="_blank" class="floor-tabs-ad-img first">
                                    <img class="lazy" src="__PUBLIC_INDEX__/picture/1497070074.png">
                                </a>
                                <a href="#" target="_blank" class="floor-tabs-ad-img first">
                                    <img class="lazy" src="__PUBLIC_INDEX__/picture/1497070086.png">
                                </a>
                                <a href="#" target="_blank" class="floor-tabs-ad-img first">
                                    <img class="lazy" src="__PUBLIC_INDEX__/picture/1497070098.png">
                                </a>
                            </div>
                            <div class="floor-tabs-ad-down">
                                <a href="#" target="_blank" class="floor-tabs-ad-img first">
                                    <img class="lazy" src="__PUBLIC_INDEX__/picture/1497070109.png">
                                </a>
                                <a href="#" target="_blank" class="floor-tabs-ad-img first">
                                    <img class="lazy" src="__PUBLIC_INDEX__/picture/1497070120.png">
                                </a>
                            </div>
                        </div>
                        <!-- 第一屏广告 _end -->
                        <div class="floor-tabs-panel floor-tabs-hide">
                        </div>

                        <div class="floor-tabs-panel floor-tabs-hide">
                            <div class="item">
                                <div class="wrap">
                                    <a target="_blank" href="http://tp.23673.com/goods/goodsinfo?goodsid=389" title="小熊养生壶全自动加厚玻璃 多功能煮花茶壶正品官方煮茶器 养生杯">
                                        <img class="lazy" src="__PUBLIC_INDEX__/picture/15006017871011.jpg">
                                    </a>
                                    <p class="title">
                                        <a target="_blank" href="http://tp.23673.com/goods/goodsinfo?goodsid=389" title="小熊养生壶全自动加厚玻璃 多功能煮花茶壶正品官方煮茶器 养生杯">小熊养生壶全自动加厚玻璃 多功能煮花茶壶正品官方煮茶器 养生杯</a>
                                    </p>
                                    <p class="price">
                                        <span class="second-color">￥288.00</span>
                                    </p>
                                    <!-- <a class="add-cart" title="加入购物车"></a> -->
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap">
                                    <a target="_blank" href="http://tp.23673.com/goods/goodsinfo?goodsid=390" title="飞利浦空气炸锅HD9233家用智能无油多功能电炸锅大容量HD9627正品">
                                        <img class="lazy" src="__PUBLIC_INDEX__/picture/15006018501051.jpg">
                                    </a>
                                    <p class="title">
                                        <a target="_blank" href="http://tp.23673.com/goods/goodsinfo?goodsid=390" title="飞利浦空气炸锅HD9233家用智能无油多功能电炸锅大容量HD9627正品">飞利浦空气炸锅HD9233家用智能无油多功能电炸锅大容量HD9627正品</a>
                                    </p>
                                    <p class="price">
                                        <span class="second-color">￥266.00</span>
                                    </p>
                                    <!-- <a class="add-cart" title="加入购物车"></a> -->
                                </div>
                            </div>
                            <div class="item">
                                <div class="wrap">
                                    <a target="_blank" href="http://tp.23673.com/goods/goodsinfo?goodsid=391" title="德国brita碧然德即热净水吧家用厨房自来水过滤壶电热直饮净水器">
                                        <img class="lazy" src="__PUBLIC_INDEX__/picture/15006019251101.jpg">
                                    </a>
                                    <p class="title">
                                        <a target="_blank" href="http://tp.23673.com/goods/goodsinfo?goodsid=391" title="德国brita碧然德即热净水吧家用厨房自来水过滤壶电热直饮净水器">德国brita碧然德即热净水吧家用厨房自来水过滤壶电热直饮净水器</a>
                                    </p>
                                    <p class="price">
                                        <span class="second-color">￥199.00</span>
                                    </p>
                                    <!-- <a class="add-cart" title="加入购物车"></a> -->
                                </div>
                            </div>
                        </div>

                        <div class="floor-tabs-panel floor-tabs-hide">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 楼层 _end -->
<div class="w1210">
    <div class="floors-brand">
        <div class="floor-layout">
            <div class="floor-con">
                <div class="floor-brand">
                    <div class="tabs-brand">
                        <div class="brand">
                            <div class="brand-con">
                                <ul class="brand-list" style="position: absolute;height: 40px;top:0;left:0;">
                                    <li class="fore1">
                                        <a href="http://tp.23673.com/goods/goodslist?brand_id=10" target="_blank" title="乐视">
                                            <img class="lazy" src="__PUBLIC_INDEX__/picture/1499755184.png" />
                                        </a>
                                    </li>
                                </ul>
                                <div class="brand-btn">
                                    <a class="brand-left" href="javascript:void(0)">&lt;</a>
                                    <a class="brand-right" href="javascript:void(0)">&gt;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>