<!-- 底部 -->

<!--
创建时间：2018年6月10日00:03:54
功能描述： 底部，联系我们、电话
-->
<div class="footer">
    <div class="dsc-service">
        <div class="w w1200 relative">
            <ul class="service-list">
                <li>
                    <div class="service-tit service-zheng">
                        <img src="__PUBLIC_INDEX__/picture/icon-zheng_4.png">
                    </div>
                    <div class="service-txt">正品保障</div>
                </li>
                <li>
                    <div class="service-tit service-qi">
                        <img src="__PUBLIC_INDEX__/picture/icon-qi_4.png"></i>
                    </div>
                    <div class="service-txt">七天包退</div>
                </li>
                <li>
                    <div class="service-tit service-hao">
                        <img src="__PUBLIC_INDEX__/picture/icon-grin_4.png">
                    </div>
                    <div class="service-txt">好评如潮</div>
                </li>
                <li>
                    <div class="service-tit service-shan">
                        <img src="__PUBLIC_INDEX__/picture/icon-light_4.png"></i>
                    </div>
                    <div class="service-txt">闪电发货</div>
                </li>
                <li class="last">
                    <div class="service-tit service-quan">
                        <img src="__PUBLIC_INDEX__/picture/icon-tronphy_4.png">
                    </div>
                    <div class="service-txt">权威荣誉</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dsc-help">
        <div class="w w1200">
            <div class="help-list">
                <div class="help-item">
                    <h3>新手上路</h3>
                    <ul>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=18" title="售后流程" target="_blank">有问题请找我</a>
                        </li>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=8" title="售后流程" target="_blank">配送支付智能查询</a>
                        </li>
                    </ul>
                </div>
                <div class="help-item">
                    <h3>配送与支付</h3>
                    <ul>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=7" title="售后流程" target="_blank">货到付款区域</a>
                        </li>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=2" title="售后流程" target="_blank">支付方式说明</a>
                        </li>
                    </ul>
                </div>
                <div class="help-item">
                    <h3>会员中心</h3>
                    <ul>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=3" title="售后流程" target="_blank">售后流程</a>
                        </li>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=5" title="售后流程" target="_blank">资金管理</a>
                        </li>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=6" title="售后流程" target="_blank">我的收藏</a>
                        </li>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=14" title="售后流程" target="_blank">我的订单</a>
                        </li>
                    </ul>
                </div>
                <div class="help-item">
                    <h3>服务保证</h3>
                    <ul>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=9" title="售后流程" target="_blank">退换货原则</a>
                        </li>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=10" title="售后流程" target="_blank">售后服务保证</a>
                        </li>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=11" title="售后流程" target="_blank">产品质量保证</a>
                        </li>
                    </ul>
                </div>
                <div class="help-item">
                    <h3>联系我们</h3>
                    <ul>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=12" title="售后流程" target="_blank">网站故障报告</a>
                        </li>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=15" title="售后流程" target="_blank">选机咨询</a>
                        </li>
                        <li>
                            <a href="http://tp.23673.com/helpcenter/index?id=16" title="售后流程" target="_blank">投诉与建议</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="help-cover">
                <div class="help-ctn">
                    <div class="help-ctn-mt">
                        <span>服务热线</span> <strong>123456</strong>
                    </div>
                    <div class="help-ctn-mb">

                        <a id="IM" im_type="dsc" onclick="openWin(this)" href="http://wpa.qq.com/msgrd?v=3&uin=10202706&site=qq&menu=yes" target="_blank" class="btn-ctn"><img src="__PUBLIC_INDEX__/picture/icon-csu_4.png" style="vertical-align: middle;">&nbsp;&nbsp;咨询客服</a>
                    </div>
                </div>
                <div class="help-scan">
                    <div class="code">
                        <img src="__PUBLIC_INDEX__/picture/1500630330_4.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
创建时间：2018年6月10日00:03:47
功能描述： 底部、公司信息
-->
<div class="dsc-copyright">
    <div class="w w1200">
        <p class="copyright_info">
            <a href="#">Copyright © 2018-2025 QQ554665488 个人做的开源商城，(非营利性质)&nbsp;</a>
        </p>
        <b> <a href="javascript:;" target="_blank" class="copyright-logo"></a>&nbsp;&nbsp;
            <a href="http://www.sixstaredu.com" target="_blank"
               class="copyright-logo">&nbsp;&nbsp;</a> <span></span>
        </b>
    </div>
</div>