<head>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{$head.title}</title>
    <meta name="keywords" content="{$head.keywords}" />
    <meta name="description" content="{$head.description}" />
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="NlV4QlRwU2RuJhkpBgIVJVIeATgSIgtVdDkpcTlAPCJvLTQlLEQ9HA==">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC_INDEX__/css/ns_common.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC_INDEX__/index/css/register.css" />
    {include file="common\common-head"/}
    <script src="__PUBLIC_INDEX__/index/register.js__VERSION__"></script> <!--全局js助手方法-->
</head>