<script>
    /**
     * Created by 554665488 on 2018-5-20.
     */
    function showMessage(type, message,url,time){
        if(url == undefined){
            url = '';
        }
        if(time == undefined){
            time = 2;
        }
        //成功之后的跳转
        if(type == 'success'){
            $( "#dialog" ).dialog({
                buttons: {
                    "确定,#51A351": function() {
                        $(this).dialog('close');
                    }
                },
                contentText:message,
                time:time,
                timeHref: url,
            });
        }
        //失败之后的跳转
        if(type == 'error'){
            $( "#dialog" ).dialog({
                buttons: {
                    "确定,#e57373": function() {
                        $(this).dialog('close');
                    }
                },
                time:time,
                contentText:message,
                timeHref: url,
            });
        }
    }

    function showConfirm(content){
        $( "#dialog" ).dialog({
            buttons: {
                "确定": function() {
                    $(this).dialog('close');
                    return 1;
                },
                "取消,#e57373": function() {
                    $(this).dialog('close');
                    return 0;
                }
            },
            contentText:content,
        });
    }
    $(function(){

        $('.index-sitemap > a').bind("click", function() {
            $(".sitemap-menu-arrow").slideDown("slow");
            $(".sitemap-menu").slideDown("slow");
        });
        $('.add-quickmenu > a').bind("click", function() {
            $(".sitemap-menu-arrow").slideDown("slow");
            $(".sitemap-menu").slideDown("slow");
        });
        $('#closeSitemap').bind("click", function() {
            $(".sitemap-menu-arrow").slideUp("fast");
            $(".sitemap-menu").slideUp("fast");
        });
    });
    function add_nav_class(doc) {
        $(doc).addClass("hover");
    }

    function remove_nav_class(doc) {
        $(doc).removeClass("hover");
    }

    // 显示导航管理
    function nav_open() {
        var one = new Array();
        var two = new Array();
        var three = new Array();
        $(".ncsc-head-layout .sitemap-menu dl").each(function(c, e) {
            if (c < 5) {
                one.push($(e).height());
            } else if (c > 4 && c < 10) {
                two.push($(e).height());
            } else if (c > 9 && c < 15) {
                three.push($(e).height());
            }
        })
        $(".ncsc-head-layout .sitemap-menu dl").each(function(c, e) {
            if (c < 5) {
                var one_max_height = Math.max.apply(Math, one);
                $(e).height(one_max_height);
            } else if (c > 4 && c < 10) {
                var two_max_height = Math.max.apply(Math, two);
                $(e).height(two_max_height);
            } else if (c > 9 && c < 15) {
                var three_max_height = Math.max.apply(Math, three);
                $(e).height(three_max_height);
            }
        })
        $(".sitemap-menu-arrow").show();
        $(".sitemap-menu").show();
    }
    // 隐藏导航管理
    function nav_close() {
        $(".sitemap-menu-arrow").hide();
        $(".sitemap-menu").hide();
    }
    // 系统注销菜单的控制
    var closetimer = 0;
    function exitSystemOver() {
        cancelColseMenu();
        $("#exit_System").css("display", "block");
    };

    function exitSystemOut() {
        closetimer = window.setTimeout(mclose, 600);
    };

    function cancelColseMenu() {
        window.clearTimeout(closetimer);
        closetimer = null;
    };

    function mclose() {
        $("#exit_System").css("display", "none");
    }

    $(function() {
        try{
            $("#turn-ul").show();//显示分页
            LoadingInfo(1);//通过此方法调用分页类
        }catch(e){
            $("#turn-ul").hide();
        }

        //首页
        $("#beginPage").click(function() {
            if(jumpNumber!=1){
                jumpNumber = 1;
                LoadingInfo(1);
                changeClass("begin");
            }
            return false;
        });

        //上一页
        $("#prevPage").click(function() {
            var obj = $(".currentPage");
            var index = parseInt(obj.text()) - 1;
            if (index > 0) {
                obj.removeClass("currentPage");
                obj.prev().addClass("currentPage");
                jumpNumber = index;
                LoadingInfo(index);
                //判断是否是第一页
                if (index == 1) {
                    changeClass("prev");
                } else {
                    changeClass();
                }
            }
            return false;
        });

        //下一页
        $("#nextPage").click(function() {
            var obj = $(".currentPage");
            //当前页加一（下一页）
            var index = parseInt(obj.text()) + 1;
            if (index <= $("#page_count").val()) {
                jumpNumber = index;
                LoadingInfo(index);
                obj.removeClass("currentPage");
                obj.next().addClass("currentPage");
                //判断是否是最后一页
                if (index == $("#page_count").val()) {
                    changeClass("next");
                } else {
                    changeClass();
                }
            }
            return false;
        });

        //末页
        $("#lastPage").click(function() {
            jumpNumber = $("#page_count").val();
            if(jumpNumber>1){
                LoadingInfo(jumpNumber);
                $("#pageNumber a:eq("+ (parseInt($("#page_count").val()) - 1) + ")").text($("#page_count").val());
                changeClass("next");
            }
            return false;
        });

        //每页显示页数
        $("#showNumber").blur(function(){
            if(isNaN($(this).val())){
                $("#showNumber").val(20);
                jumpNumber = 1;
                LoadingInfo(jumpNumber);
                return;
            }
            //页数没有变化的话，就不要再执行查询
            if(parseInt($(this).val()) != $(this).attr("data-default")){
// 			jumpNumber = 1;//设置每页显示的页数，并且设置到第一页
                $(this).attr("data-default",$(this).val());
                LoadingInfo(jumpNumber);
            }
            return false;
        }).keyup(function(event){
            if(event.keyCode == 13){
                if(isNaN($(this).val())){
                    $("#showNumber").val(20);
                    jumpNumber = 1;
                    LoadingInfo(jumpNumber);
                }
                //页数没有变化的话，就不要再执行查询
                if(parseInt($(this).val()) != $(this).attr("data-default")){
// 				jumpNumber = 1;//设置每页显示的页数，并且设置到第一页
                    $(this).attr("data-default",$(this).val());
                    //总数据数量
                    var total_count = parseInt($(".total-data").attr("data-total-count"));
                    //计算用户输入的页数是否超过当前页数
                    var curr_count = Math.ceil(total_count/parseInt($(this).val()));
                    if( curr_count !=0 && curr_count < jumpNumber){
                        jumpNumber = curr_count;//输入的页数超过了，没有那么多
                    }
                    LoadingInfo(jumpNumber);
                }
            }
            return false;
        });
    });

    //跳转页面
    function JumpForPage(obj) {
        jumpNumber = $(obj).text();
        LoadingInfo($(obj).text());
        $(".currentPage").removeClass("currentPage");
        $(obj).addClass("currentPage");
        if (jumpNumber == 1) {
            changeClass("prev");
        } else if (jumpNumber < parseInt($("#page_count").val())) {
            changeClass();
        } else if (jumpNumber == parseInt($("#page_count").val())) {
            changeClass("next");
        }
    }


</script>