<div class="page" id="turn-ul" style="display: none;">
    <div class="pagination pagination-right">
        <ul>
            <li class="total-data">共0有条数据</li>
            <li class="according-number">每页显示<input type="text" class="input-medium" id="showNumber" value="20"
                                                    data-default="20"/>条
            </li>
            <li><a id="beginPage" class="page-disable" style="border: 1px solid #dddddd;">首页</a></li>
            <li><a id="prevPage" class="page-disable">上一页</a></li>
            <li id="pageNumber"></li>
            <li><a id="nextPage">下一页</a></li>
            <li><a id="lastPage">末页</a></li>
            <li class="page-count">共0页</li>
        </ul>
    </div>
</div>
<input type="hidden" id="page_count"/>
<input type="hidden" id="page_size"/>
<script src="../../static/js/page.js"></script>